<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323191453181-9aq99n1g8t2utoh3rbn0lqfm8jhju1ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323191453181-9aq99n1g8t2utoh3rbn0lqfm8jhju1ts</string>
	<key>API_KEY</key>
	<string>AIzaSyA-WMyeOaIXq4je2SKGmMFtx36gqbTbvO4</string>
	<key>GCM_SENDER_ID</key>
	<string>323191453181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>istvankreisz.RecipesSampleApp</string>
	<key>PROJECT_ID</key>
	<string>recipessampleapp-d5a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>recipessampleapp-d5a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323191453181:ios:f726455606c85e357f1594</string>
</dict>
</plist>